body {
    background-color: whitesmoke;
}

h1 {
    text-align: center;
    font-size: 3em;
    font-family: Helvetica, sans-serif;
}

h2 {
    text-align: center;
    font-style: italic;
    font-family: Helvetica, sans-serif;
}

section {
    margin: 3em 0;
}

.main-photo {
    display: block;
    margin: 0 auto;
    width: 800px;
    height: 500px;
    object-fit: cover;
}

.main-section-left {
    margin-left: 25px;
    margin-right: auto;
    border-radius: 30px;
    padding: 40px;
    width: 40%;
    background-color: #e6ffec;
}

.main-section-right {
    margin-left: auto;
    margin-right: 25px;
    border-radius: 30px;
    padding: 40px;
    width: 40%;
    background-color: #e6ffec;
}

.main-section-center {
    margin: 0 auto 40px auto;
    border-radius: 30px;
    padding: 40px;
    width: 50%;
    background-color: #e6ffec;
}