body {
    background-color: #ffffed;
}

h1 {
    text-align: center;
    font-size: 3em;
    font-family: Helvetica, sans-serif;
}

h2 {
    text-align: center;
    font-style: italic;
    font-family: Helvetica, sans-serif;
}

section {
    margin: 3em 0;
}

.main-photo {
    display: block;
    margin: 0 auto;
    width: 800px;
    height: 500px;
    object-fit: cover;
}

/* not currently used but may change layout in the future 
.main-section-left {
    margin-left: 25px;
    margin-right: auto;
    border-radius: 30px;
    padding: 40px;
    width: 40%;
    background-color: #e6ffec;
}

.main-section-right {
    margin-left: auto;
    margin-right: 25px;
    border-radius: 30px;
    padding: 40px;
    width: 40%;
    background-color: #e6ffec;
}
*/

.main-section-center {
    margin: 0 auto 40px auto;
    border-radius: 30px;
    padding: 40px;
    width: 50%;
    background-color: #e6ffec;
}

.things-I-like-photo {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
}

.main-photo-footer {
    display: block;
    margin: 0 auto;
    padding: 100px;
    width: 100px;
    height: 100px;
}

.photo-container {
    position: relative;
    width: 100%;
    max-width: 400px;
    padding-bottom: 61.2%; /* 1.612 aspect ratio */
    height: 0;
    overflow: hidden;
}

.photo-container img.things-I-like-photo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    object-fit: contain;
}

.YouTube-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
}

.YouTube-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

@media (max-width: 900px) {
    .main-section-center {
        width: 60%;
        padding: 30px;
    }
    .main-photo {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 600px) {
    .main-section-center {
        width: 80%;
        padding: 20px;
    }
    .main-photo {
        width: 100%;
        height: auto;
    }
}